/*
h1 {
    text-align: center;
}

.item-common {
    width: 100px;
    height: 100px;
    background-color: green;
}

!*scale*!
.item1:hover {
    transform: scale(2); !*x=2 y=2*!
    !*transform: scale(2,4);!*x=2 y=4*!
    transform: scaleX(2);!*x=2*!
    transform: scaleY(2);!*y=2*!*!
}

!*scale*!

!*Skew*!
.item2 {
    !*transform: skew(-20deg);*!
    !*transform: skewX(20deg);*!
    transform: skewY(20deg);
}

!*Skew*!
.wrapper-main {
    width: 100%;
    height: 200px;
    border: 1px solid red;
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    background-color: brown;
}

!*animation-1*!
.inner-items-1 {
    transform: skew(20deg);
    animation: animation1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animation1 {
    !*from{
        transform: skewX(20deg);
    }
     to{
         transform: skewX(-20deg);
     }*!
    0% {
        transform: skew(20deg, 20deg);
    }
    100% {
        transform: skew(-20deg, -20deg);
    }
}

!*animation-1*!

!*animation 2*!
.inner-items-2 {
    animation: animation2 3s infinite;
    animation-direction: alternate;
}

@keyframes animation2 {
    from {
        transform: rotate(0deg) translateX(0);
        !*transform: translateX(0);*!
    }
    to {
        transform: rotate(360deg) translateX(200px);
       !* transform: translateX(200px);*!
    }
}

!*animation 2*!
*/








/*
.item{
    width: 100px;
    height: 100px;
    background-color: brown;
    animation-name: animation1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 5s;
}
@keyframes animation1 {
    0%{
        background-color: green;
        transform: translateX(0px);
    }
    25%{
        background-color: black;
        transform: translateX(300px);
    }
    50%{
        background-color: blue;
        transform: translate(300px,300px);
    }
    75%{
      background-color: aqua;
        transform: translate(0px, 300px);
    }
    100%{
        background-color: blueviolet;
        transform: translateX(0px);
    }
}*/

.item{
    background-color: blue;
    margin-bottom: 5px;
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

#ease{
    animation-name: ease;
    animation-duration: 2s;
    animation-timing-function: ease;
}
@keyframes ease {
    from{transform: translateX(0)}
    to{transform: translateX(900px)}
}

#linear{
    animation-name: linear;
    animation-duration: 2s;
    animation-timing-function: linear;
}
@keyframes linear {
    from{transform: translateX(0)}
    to{transform: translateX(900px)}
}

#ease-in{
    animation-name: easein;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}
@keyframes easein {
    from{transform: translateX(0)}
    to{transform: translateX(900px)}
}

#ease-out{
    animation-name: easeout;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}
@keyframes easeout {
    from{transform: translateX(0)}
    to{transform: translateX(900px)}
}

#ease-in-out{
    /*animation-name: easeinout;*/
    /*animation-duration: 2s;*/
    /*animation-timing-function: ease-in-out;*/

    /*animation shorthand property*/
    animation-name: a1;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;


    animation: animation1 8s ease-in 2s infinite alternate;
}
@keyframes easeinout {
    from{transform: translateX(0)}
    to{transform: translateX(900px)}
}






